html,
body {
  margin: 0;
  padding: 0;
  background-color: #2d2b28;
  color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    min-height: 100vh;
    height: auto;
  }
}
